*{ box-sizing: border-box;}

html{
    font-family: 'Inter';
    width: 393px;
    height: 852px;
    margin: 0;
}

body{
    text-align: justify;
}

.fond{
  margin-top: 0;
  margin-left: 0;
  position: relative;
width: 393px;
height: 852px;

background: #FFFFFF;
}

#retour{
  position: absolute;
width: 27px;
height: 21px;
left: 22px;
top: 42px;
}

#lieu{
  position: absolute;
width: 288.82px;
height: 69px;
left: 106px;
top: 328px;
}
  
#connect {
  position: absolute;
width: 244px;
height: 50px;
left: 74px;
top: 695px;
  
  background: #2A282C;
  border-radius: 25px;


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FFFFFF;
}
#connect > h3 > a{
  text-decoration: none;
  color: white;
}


.barre-nav{
  position: fixed;
  width: 248px;
height: 65px;
left: 72px;
top: 764px;

background: white;
box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.08);
border-radius: 20.1896px;
z-index: 3;
}
.barre-nav > ul {
  overflow: hidden;
  list-style: none;
  flex-direction: row;
  padding-left: -20%;
}
.barre-nav > ul > li{
  float: left;
padding-left: 8%;
left: 232px;
top: 808px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
line-height: 17px;
text-align: center;

color: #000000;
}
.barre-nav > ul > li > a{
  text-decoration: none;
  color: black;
}